.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.list-group-vscroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.list-group-hscroll {
  overflow-y: scroll;
}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #0d6efd;
  border-radius: 10px;
}

.card-img-top {
  margin-top:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width: 300px;
}

.home-main {
  width: 80%;
  height: 90%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin: auto;
  position: absolute;
  top: 75px; left: 0; bottom: 75px; right: 0;
}